body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    height: 100vh;
    margin: 0;
}

.form-floating {
    margin-bottom: 15px;
    position: relative;
    width: 300px;
}

.form-control {
    width: 100%;
    padding: 10px;
    background-color: #444;
    border: 1px solid yellowgreen;
    border-radius: 4px;
    color: #f0f0f0;
    font-size: 16px;
}

.form-control::placeholder {
    color: #aaa;
}

label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #333;
    padding: 0 5px;
    color: yellowgreen;
    font-size: 14px;
}

.form-control:focus {
    outline: none;
    border-color: yellowgreen;
    box-shadow: 0 0 5px yellowgreen;
}
